<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="main">
  <div class="bgFirst">
    <h1>7 tips for a healthy lifestyle</h1>
    <h3> Living a healthy lifestyle doesn’t mean hours of training
       at the gym and eating only salad leaves.
       It’s about making easy-to-manage healthy choices in your day-to-day living. </h3>
  </div>
  <p> Says Dr Craig Nossel, head of Wellness at Discovery Vitality:
    "The trick to making your lifestyle healthier is to make small healthy changes every day,
    such as taking the stairs instead of the lifts, increasing your fruit by one, drinking one
    extra glass of water or quitting smoking."</p>

  <p>So let’s start with the fundamental basics of healthy living: regular exercise,
      healthy eating and healthy lifestyle choices:</p>

  <h3>I like to move it, move it!</h3>

    <p>Do as King Julian does and move your body.
   Not just once now-and-then – but every day whenever you can.
   Although a set exercise session is great to work into your daily routine,
  you can burn kilojoules in other small ways, such as:

    Walking to someone else’s desk rather than sending an e-mail,
    Parking furthest from the building and walking in, or
    Taking the stairs more often.
   </p>
    <h3>We all stand together</h3>

    <p>We spend our lives sitting – at our desks, in front of the TV,
      in a meeting or on the phone. New research is emerging highlighting the potential
      risk to health from all our sitting behaviour. So break your sitting time by standing
      for five minutes and reap the health benefits.

    Every little bit counts and it all adds up to burning more calories.

</p>

    <h3>Eating healthily</h3>

    <p>When it comes to healthy eating, there is an overwhelming array
      of theories, diet books and online information about what to eat – which
      is often conflicting. </p>

    <h3>Sweet enough</h3>

    <p>From sugary drinks to breakfast cereal, it’s hard to get away from sugary foods.
      Often the sugar is hidden in canned goods or pre-packaged foods, or even in foods we
      think are healthy for us, such as fruit juice. The average person takes in about
      22 teaspoons of added sugar each day. According to the American Heart
      Association the daily target should be no more than six level teaspoons for women,
      and nine for men—that’s for both food and beverages combined.

  </p>

    <h3>Portion distortion</h3>

   <p> Our food and drinks portion sizes have dramatically increased over the past 30 years.
     In the 1950’s a chip packet was 28g from a take-away restaurant - today it’s 154g – and that’s
     not even the supersize, which is a whopping 196g!

    Portion size increases doesn’t only include the take-away portions, but packaging of goods in the
     supermarket, dinner plates and glasses in restaurants and even fridge sizes! Simple ways to cut
     your portions include:

    Eat your main meals off a smaller plate – visually the plate looks full so you will be satisfied,
     but technically you’ll be eating less.
   </p>
    <h3>Colour me beautiful</h3>

    <p>Choosing whole foods and cooking from scratch is a much healthier way to
      eat than buying pre-packaged or ready-meals which are high in fat and salt but
      very low in nutrients.

    Your body will wear a frown if your meal is all brown.</p>

   <h3> Choose life </h3>

   <p> There is nothing more damaging to a long, healthy life than smoking, which is estimated as the
     reason for death or disability in half the people who smoke. The dangers of smoking tobacco
     are so significant that it is the most important public health problem in the world, which ironically,
     is largely avoidable.

    Smoking not only cuts your lifespan by affecting your internal organs, but it also ages you on the
     outside by causing skin damage.
   </p>





  <p><label for="mail"><b>Text your email:</b></label></p>
  <p><input [(ngModel)]="comment.name" type="text" name="mail" class="mail"></p>
  <p><b>Text your comment:</b></p>
  <p><textarea [(ngModel)]="comment.message" rows="10" cols="45" name="text"></textarea></p>
  <p><input type="submit" value="Send" (click)="send()"></p>


  <div class="comment" *ngFor="let comment of comments">
    <p>{{ comment.name }}</p>
    <p>{{ comment.message }}</p>
    <p [(ngModel)]="comment.delete" (click)="out()" class="btn_delete"> delete {{ comment.delete }}</p>
  </div>

</div>